/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    height: 100%;
}

body {
    /* Margin bottom by footer height */
    height: 100%;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 0;
}

.container {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    height: 100%;
}

code {
    font-size: 80%;
}

#slide_1 {
    background-image: url('../img/background_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

#slide_2 {
    background-image: url('../img/background_2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100%;
    width: 100%;
}