/* Sticky footer styles
-------------------------------------------------- */
@font-face
{
    font-family: LeagueGothic;
    src: url(../fonts/leaguegothic-regular-webfont.woff);
}
html
{
    position: relative;
    min-height: 100%;
    height: 100%;
}
.jumbotron p
{
    font-size: 13px;
}
body
{
    /* Margin bottom by footer height */
    height: 100%;
}
.bold
{
    font-weight: bold;
}

.jumbotron
{
    padding-top: 10px;
}
.jumbotron h1
{
    font-family:LeagueGothic;
}

.error
{
    color: Red;
}
input.error, textarea.error
{
    border: 1px dotted red;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container
{
    padding: 0;
}

.container
{
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    height: 100%;
}
.container .jumbotron
{
    padding-left: 30px;
    padding-right: 30px;
}

code
{
    font-size: 80%;
}

.slide
{
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: inset 0px 10px 10px rgba(0,0,0,0.3);
}

#slide1
{
    background-image: url('../img/background_1.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 1226px;
    min-height: 817px;
}

#slide2
{
    background-image: url('../img/background_2.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 1225px;
    min-height: 816px;
}
#slide3
{
    background-image: url('../img/background_3.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 1225px;
    min-height: 919px;
}
#slide4
{
    background-image: url('../img/background_4.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 1226px;
    min-height: 817px;
}
#slide5
{
    background-image: url('../img/background_5.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 1226px;
    min-height: 817px;
}
#slide6
{
    background-image: url('../img/background_6.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 1226px;
    min-height: 920px;
}
#slide7
{
    background-image: url('../img/background_7.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 1226px;
    min-height: 817px;
}
#slide8
{
    background-image: url('../img/background_8.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 1226px;
    min-height: 920px;
}
#slide9
{
    background-image: url('../img/background_9.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 1226px;
    min-height: 920px;
}
#slide10
{
    background-image: url('../img/background_10.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 1226px;
    min-height: 920px;
}
#slide11
{
    background-image: url('../img/background_11.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 1226px;
    min-height: 920px;
}
#slide12
{
    background-image: url('../img/background_12.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 1226px;
    min-height: 920px;
}
.arrow
{
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
}

